.header {
	padding-left: 10px;
}

.container.wrapper {
	margin-top: 50px;
}

table td, table th {
	padding: 20px;
}

table td p {
	padding: 10px;
}

.green { background-color: #47a447; color: white; }
.red { background-color: #d9534f; color: white; }